

.card {
    padding: 5px;
    margin: 2vh;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    border: 1px solid black;
    width: 30vw;

}